<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Warbler</title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css" integrity="sha384-BNKxVsQUv1K6rV5WJumgbzW1t/UsyFWm/uP4I8rr9T3PeBkcRGGApJv+rOjBpEdF" crossorigin="anonymous">
  <script src="https://unpkg.com/jquery" integrity="sha384-S58meLBGKxIiQmJ/pJ8ilvFUcGcqgla+mWH9EEKGm6i6rKxSTA2kpXJQJ8n7XK4w" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper" integrity="sha384-Z/FylrIQA5jlpXgSiK4c8t/VC+oEgykPTjNm8hKOB+P/lhGn7pJDKgtyinaCn6U8" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap" integrity="sha384-4S2sRpwEfE5rUaiRVP4sETrP8WMo4pOHkAoMmvuju/2ycHM/QW1J7YQOjrPNpd5h" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">
<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <img src="/static/images/warbler-logo.png" alt="logo">
        <span>Warbler</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if request.endpoint != None %}
      <li>
        <form class="navbar-form navbar-right" action="/users">
          <input name="q" class="form-control" placeholder="Search Warbler" id="search">
          <button class="btn btn-default">
            <span class="fa fa-search"></span>
          </button>
        </form>
      </li>
      {% endif %}
      {% if not g.user %}
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
      {% else %}
      <li>
        <a href="/users/{{ g.user.id }}">
          <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
        </a>
      </li>
      <li><a href="/messages/new">New Message</a></li>
      <li><a href="/logout">Log out</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}
  {% endblock %}

</div>
</body>
</html>